repos:

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: mypy
        name: mypy (poetry)
        entry: poetry run mypy
        language: system
        args: ["src"]
        pass_filenames: false
